discord.py
python-dotenv
openai
langchain==0.3.27
langchain-community==0.3.31
beautifulsoup4
requests
aiohttp
pytube
google-generativeai==0.8.5
wikipedia
yfinance
yt-dlp
langchain_google_genai==2.1.12